.top-row {
    background-color: var(--bs-light-border-subtle);
    border-bottom: 1px solid var(--bs-dark-border-subtle);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 769px) {
    .IAmHereIndicator {
        display: none;
    }

    .LoginDisplay {
        margin-left: auto !important;
    }
}
